temp/
.vscode/
.tox/
.coverage
htmlcov/
.pytest_cache/
*.pyc
*.egg-info/
.eggs/
~*.*
.venv/
*.tmp
temp.*
rsync.sh
build
AUTHORS
ChangeLog
venv/
.vscode
__pycache__
.DS_Store
tests/__pycache__/
dist/
build/
*.tmp
temp/
lib/
lib64/
bin/
share/
.v/*
__pycache__/*
